@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#header {
  animation: 1s ease-out 0s 1 slideInFromTop forwards;
}

#footer {
  animation: 1s ease-out 0s 1 slideInFromBottom forwards;
}

#main {
  animation: 1s ease-out 1s 1 fadeIn forwards;
  opacity: 0;
}
